@media(max-width: 935px) {

    .sidebar {
        display: none;
    }

    .conteudo,
    .cabecalho {
        width: 100%;
    }

    .storieseposts {
        margin: auto;
    }
}

@media(max-width:614px) {

    .cabecalho {
        display: none;
    }

    .conteudo,
    .storieseposts,
    .stories {
        width: 100%;
    }

    .menu-mobile {
        width: 100%;
        height: 54px;

        background-color: #FFFFFF;

        padding-right: 18px;
        padding-left: 18px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: fixed;
        top: 0;
        left: 0;
    }

    .conteudo {
        margin-top: 54px;
    }

    .stories {
        margin: auto 0px;

        background-color: #E5E5E5;

        border: none;
        box-shadow: none;

        overflow-x: hidden;
        overflow: scroll;
    }

    .stories::-webkit-scrollbar {
        display: none;
    }

    .stories ion-icon {
        display: none;
    }

    .posts {
        margin-bottom: 19px;
    }

    .barra-inferior {
        width: 100%;
        height: 54px;

        background-color: #FFFFFF;
        border: 1px solid #DBDBDB;

        padding-right: 18px;
        padding-left: 18px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: fixed;
        bottom: 0;
        right: 0;
    }
}