/********************* Formatação padrão *******************/

body {
    font-family: 'Roboto', sans-serif;
}

ion-icon {
    font-size: 22px;
}

* {
    box-sizing: border-box;
}

/********************* Formatação cabeçalho *******************/

.topo {
    border: 1px solid #DBDBDB;
}

.cabecalho {
    width: 935px;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instagram {
    width: 170px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.borda-instagram {
    background-color: #DBDBDB;

    height: 22px;
    width: 1px;
}

.pesquisar input {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.pesquisar ::placeholder {
    text-align: center;
}

.icones {
    width: 170px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/******************** Formatação das larguras e alturas do conteudo, stories, posts e sidebar ********************/

/**********conteúdo**********/

.conteudo{
    width: 935px;
    height: auto;

    margin: 34px auto;

    display: flex;
}

/**********storieseposts**********/

.storieseposts{
    width: 614px;
    height: auto;
}

.stories{
    width: 100%;
    height: 118px;

    margin-bottom: 24px;

    background-color: plum;
}

.posts{
    width: 100%;
    height: auto;
}

.post1{
    width: 100%;
    height: 719px;

    margin-bottom: 75px;
    
    background-color:darkgoldenrod;
}

.post2{
    width: 100%;
    height: 719px;
    background-color: cornflowerblue;
}

/**********sidebar**********/

.sidebar{
    width: 321px;
    height: 470px;

    margin-left: 5px;

    background-color: blue;
}

/******************* Formatação dos estilos e conteúdos dentro das divs ********************/