/********************* Formatação padrão *******************/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;

}

ion-icon {
    font-size: 22px;
}

* {
    box-sizing: border-box;
}

/********************* Formatação cabeçalho *******************/

.topo {
    width: 100%;

    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.cabecalho {
    width: 935px;
    height: 54px;


    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instagram {
    width: 170px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.borda-instagram {
    background-color: #DBDBDB;

    height: 22px;
    width: 1px;
}

.pesquisar input {

    height: 28px;

    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.pesquisar ::placeholder {
    text-align: center;
}

.icones {
    width: 170px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/******************** Formatação das larguras e alturas do conteudo, stories, posts e sidebar ********************/

/**********conteúdo**********/

.conteudo {
    width: 935px;

    margin: 80px auto 35px auto;

    display: flex;
}

/**********storieseposts**********/

.stories {
    width: 100%;
    height: 118px;

    margin-bottom: 24px;
}

.post1 {
    width: 100%;

    margin-bottom: 60px;
}

.post2 {
    width: 100%;
}

/**********sidebar**********/

.sidebar {
    width: 321px;

    margin-left: 5px;

    position: fixed;
    top: 13%;
    right: calc(50% - 467.5px);
}

/******************* Formatação dos estilos e conteúdos dentro das divs ********************/

/**********stories**********/

.stories {
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 1px solid #DBDBDB;
    border-radius: 3px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

    background-color: #FFFFFF;
}

.background {
    width: 66px;
    height: 66px;

    background-image: url(./img/story-circle.svg);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.storie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stories ion-icon {
    width: 26px;
    height: 26px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #FFFFFF;
}

.stories ion-icon:hover {
    background-color: #dbdbdb;
    cursor: pointer;
}

/**********posts**********/

/*****post-1*****/

.post1 {
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.post1 ion-icon {
    font-size: 25px;
}

.perfil {
    width: 140px;

    margin-top: 10px;
    margin-bottom: 14px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfil img {
    width: 32px;
    height: 32px;
}

.post1>img {
    width: 100%;
    margin-bottom: 13px;
}

.display-dois {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icones-posts {
    width: 100px;

    margin-bottom: 17px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.display>ion-icon {
    margin-right: 20px;
}

.display-dois>ion-icon {
    margin-right: 20px;
    margin-bottom: 17px;
}

/*****post-2*****/

.post2 {
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.post2 ion-icon {
    font-size: 25px;
}

.perfil {
    width: 140px;

    margin-top: 10px;
    margin-bottom: 14px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfil img {
    width: 32px;
    height: 32px;
}

.post2>img {
    width: 100%;
    margin-bottom: 13px;
}

.display-dois {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icones-posts {
    width: 100px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.display>ion-icon {
    margin-right: 20px;
}

.display-dois>ion-icon {
    margin-right: 20px;
}

/**********sidebar**********/

.perfil-sidebar {
    height: 80px;

    display: flex;
    align-items: center;
}

.perfil-sidebar img {
    width: 56px;
    height: 56px;

    border-radius: 28px;

    margin-right: 17px;
    margin-left: 29px;
}

.perfil-sidebar div p:nth-child(1) {
    color: #262626;

    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.perfil-sidebar div p:nth-child(2) {
    color: #8E8E8E;

    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.sugestoes-pra-voce {
    margin-top: 18px;
    margin-bottom: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sugestoes-pra-voce p {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;

    margin-left: 29px;
    margin-right: 10px;
    ;
}

.sugestoes-pra-voce p:nth-child(1) {
    color: #8E8E8E;
}

.sugestoes-pra-voce p:nth-child(2) {
    color: #262626;
}

.perfis-para-seguir {
    margin-bottom: 17px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfis {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfis img {
    width: 40px;
    height: 40px;

    border-radius: 16px;

    margin-right: 13px;
    margin-left: 29px;
}

.perfis div p:nth-child(1) {
    color: #262626;

    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.perfis div p:nth-child(2) {
    color: #8E8E8E;

    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.perfis-para-seguir>p {
    color: #139EF2;

    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;

    margin-right: 10px;
}

.links p {
    color: #C7C7C7;

    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;

    margin-left: 30px;
}

.primeiro-link {
    margin-bottom: 18px;
}

/******************* Responsividade ********************/

@media(max-width: 935px) {

    .conteudo,
    .cabecalho {
        width: 100%;
    }

    .storieseposts {
        margin: auto;
    }

    .sidebar {
        display: none;
    }

}

@media(max-width:614px) {}