/********************* Formatação padrão *******************/

body {
    font-family: 'Roboto', sans-serif;
}

ion-icon {
    font-size: 22px;
}

* {
    box-sizing: border-box;
}

/********************* Formatação cabeçalho *******************/
.topo {
    border: 1px solid #DBDBDB;
}

.cabecalho {
    width: 935px;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instagram {
    width: 170px;

    display: flex;
    justify-content: space-around;
}

.borda-instagram {
    background-color: #DBDBDB;

    height: 22px;
    width: 1px;
    margin-top: 2px;
}

.pesquisar input {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.pesquisar ::placeholder {
    text-align: center;
}

.icones {
    width: 170px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/********************* Formatação conteúdo principal *******************/